<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-icon">
        <img src="../../../assets/icons/logo.svg" alt="logo">
    </div>
      <div class="footer-nav">
        <div class="footer-nav-col">
          <div class="footer-links-title">
            <a routerLink="">Slack Overflow</a>
          </div>
          <ul class="footer-links">
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">Questions</a>
            </li>
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">Help</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-col">
          <div class="footer-links-title">
            <a routerLink="about">Company</a>
          </div>
          <ul class="footer-links">
            <li class="footer-link-item">
              <a routerLink="about" class="footer-link">About Us</a>
            </li>
            <li class="footer-link-item">
              <a routerLink="contact" class="footer-link">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-col">
          <div class="footer-links-title">
            <a routerLink="questions">Slack Overflow Tags</a>
          </div>
          <ul class="footer-links">
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">JavaScript</a>
              <div class="footer-arrow-icon">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">Angular</a>
              <div class="footer-arrow-icon">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">HTML</a>
              <div class="footer-arrow-icon">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">CSS</a>
              <div class="footer-arrow-icon">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
            <li class="footer-link-item">
              <a routerLink="questions" class="footer-link">Other</a>
              <div class="footer-arrow-icon">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-another-links">
        <div class="social-media">
          <ul>
            <li>
              <a routerLink="about">Blog</a>
            </li>
            <li>
              <a routerLink="questions">Facebook</a>
            </li>
            <li>
              <a routerLink="questions">Twitter</a>
            </li>
            <li>
              <a routerLink="questions">LinkedIn</a>
            </li>
            <li>
              <a routerLink="questions">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
