<div class="nav-container">
  <nav>
    <div class="nav-brand">
      <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="nav-dropdown-menu">
          <a href="#" class="current-link">Home</a>
          <h5>Public</h5>
          <ul class="nav-ul">
            <li class="nav-item">
              <i class="fas fa-globe-europe"></i>
              <a href="#" class="nav-link">Slack Overflow</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Tags</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Users</a></li>
          </ul>
          <h5>Find a Job</h5>
          <ul class="nav-ul">
            <li class="nav-item"><a href="#" class="nav-link">Jobs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Companies</a></li>
          </ul>
          <h5>Teams <a href="#">What's this ?</a></h5>
        </div>
      </div>

      <a href="#" class="nav-icon">
        <img src="../../../assets/icons/logo.svg" alt="logo" class="logo" />
        <div class="nav-icon-text">
          slack <span class="nav-bold-text">overflow</span>
        </div>
      </a>
    </div>
    <div class="nav-search">
      <div class="search-container">
        <i class="fas fa-search"></i>
        <input type="text" id="" placeholder="Search..." />
      </div>
    </div>
    <div class="nav-right-buttons">
      <div class="search-btn">
        <i class="fas fa-search"></i>
      </div>
      <button routerLink="signin" class="btn btn-login">Sign in</button>
      <button routerLink="signup" class="btn btn-register">Sign up</button>
    </div>
  </nav>
</div>
