<div class="nav-container">
  <nav>
    <div class="nav-brand">
      <div [ngClass]="{'open': seeMenu}" class="hamburger-menu-container">
        <div class="hamburger-menu" (click)="showMenu()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="nav-dropdown-menu">
          <a routerLink="" routerLinkActive="active">Home</a>
          <ul class="nav-ul">
            <li class="nav-item">
              <a routerLink="questions" class="nav-link">Slack Overflow</a>
            </li>
            <li class="nav-item"><a routerLink="tags" class="nav-link">Tags</a></li>
            <li class="nav-item"><a routerLink="users" class="nav-link">Users</a></li>
          </ul>
          <h5>Company</h5>
          <ul class="nav-ul">
            <li class="nav-item"><a routerLink="about" class="nav-link">About Us</a></li>
            <li class="nav-item"><a routerLink="contact" class="nav-link">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <a routerLink="" class="nav-icon">
        <img src="../../../assets/icons/logo.svg" alt="logo" class="logo" />
        <div class="nav-icon-text">
          slack <span class="nav-bold-text">overflow</span>
        </div>
      </a>
    </div>
    <div class="nav-search">
      <div class="search-container">
        <i class="fas fa-search"></i>
        <input type="text" id="" placeholder="Search..." />
      </div>
    </div>
    <div class="nav-right-buttons">
      <div class="search-btn">
        <i class="fas fa-search"></i>
      </div>
      <button routerLink="signin" class="btn btn-login">Sign in</button>
      <button routerLink="signup" class="btn btn-register">Sign up</button>
    </div>
  </nav>
</div>
