<div class="tags-container">
  <div class="tags-header">
    <h2>Tags</h2>
    <div class="select">
      <label for="filter">Filter By:</label>
      <select name="filter" id="filter">
        <option value="Latest">Latest</option>
        <option value="A-Z">A-Z</option>
        <option value="Z-A">Z-A</option>
        <option value="Score">Score</option>
        <option value="count">Number of Questions</option>
        <option value=""></option>
      </select>
    </div>
    <button routerLink="/questions/ask" class="primary-btn ask">
      Ask Question
    </button>
  </div>
  <div class="tags-list" *ngIf="tags$ | async as tags">
    <div
      class="tag"
      *ngFor="let tag of tags"
      (click)="seeTag(tag.tag_name, $event)"
    >
      <h3>{{ tag.tag_name }}</h3>
      <p>{{ tag.Tag_description }}</p>
      <h4 class="extras">
        {{tag.question_count}} Questions
      </h4>
    </div>
  </div>
  <app-loader *ngIf="loading$ | async"></app-loader>
</div>
