<section class="questions">
  <div class="container">
    <div class="questions-content">
      <app-hero></app-hero>
      <div class="questions-footer">
        <h3 class="question-title">Learn and grow with Slack Overflow</h3>
        <div class="questions-grid">
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/developer.svg?v=b930de7967a7"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Write the script of the future</h4>
            <p class="grid-item-description">
              Get your coding questions answered to learn, build, and level up
              whether you're begginer or a professional
            </p>
          </div>
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/open-source.svg?v=847b604fd2ab"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Support open source</h4>
            <p class="grid-item-description">
              Reach users of your project by following tags, answering newcomer
              questions, and empowering experts in the community.
            </p>
          </div>
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/advocate.svg?v=4b03cfb93502"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Acquire and share knowledge</h4>
            <p class="grid-item-description">
              Answer questions get answers and gain insights from an audience of
              developers using your technology on Stack Overflow.
            </p>
          </div>
          <div class="questions-grid-item">
            <div class="grid-item-img">
              <img
                src="https://cdn.sstatic.net/Img/home/career-switcher.svg?v=a41416ff19df"
                alt=""
              />
            </div>
            <h4 class="grid-item-title">Find career opportunities</h4>
            <p class="grid-item-description">
              Create a profile that shows off your expertise and credentials to
              help you make your next move. Start your
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
