<div class="user-container" *ngIf="user$ | async as user">
  <h1>{{ user.username }}</h1>
  <div class="user-details">
    <div class="user-info">
      <img
        src="https://robohash.org/{{ user.username }}?set=set2"
        alt="{{ user.username }}"
        class="avatar"
      />
      <div class="user-meta">
        <p><strong>Answers:</strong> 10</p>
        <p><strong>Location:</strong>Kenya</p>
      </div>
    </div>
    <div class="user-bio">
      <h2>Bio:</h2>
      <p>Member Since {{ user.created_on }}</p>
    </div>
  </div>
  <app-loader *ngIf="loading$ | async"></app-loader>
</div>
