.home {
  display: flex;
  min-height: 60svh;
  max-width: 65svw;
  margin-inline: auto;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 200px;
  gap: 1rem;
  position: sticky;
  padding: 2.5rem 0;
  top: 20px;
  flex: 1;
}

aside * {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  transition: scale 0.4s ease-in-out;
}

aside a:hover,
.active {
  background-color: var(--silver);
  font-weight: 700;
  scale: 1.025 1;
}

.active {
  border-right: 4px solid var(--orange);
}

aside p {
  all: unset;
  font-size: 2rem;
}

.content {
  flex: 3;
  }

.divider {
  width: 3px;
  background-color: var(--silver);
}

@media (max-width: 800px) {
  .home {
    flex-direction: column;
  }
  aside {
    flex-direction: row;
    justify-content: space-around;
    position: inherit;
  }
  aside * {
    min-width: 25%;
    text-align: center;
  }
  aside *:hover,
  .active {
    border: none;
    border-bottom: 4px solid var(--orange);
  }
  aside p {
    display: none;
  }
}
