main {
  min-height: 94.5vh;
  display: grid;
  place-items: center;
  background: url("../../../../assets/bg.svg") center center/cover no-repeat;
}

.login-card {
  font-size: 1.125rem;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr, 2fr, 1fr;
  padding-block: 3rem;
  gap: 3rem;
  border-radius: 1.25rem;
  min-height: 65vh;
  min-width: 45%;
  max-width: calc(100% - 4rem);
  background: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 60%;
}

.form h4 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.name {
  display: flex;
  flex: 1;
  gap: 1rem;
  width: 100%;
}

.name * {
  width: 50%;
  margin-bottom: 1rem;
}

.name .error-msg p {
  width: 200%;
  display: inline-block;
  margin: 0;
}

.fname label,
.lname label {
  display: inline-block;
  width: 100%;
}

span {
  text-align: center;
  color: var(--blue);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.form input,
.form select {
  padding: 1.5rem;
  background: rgb(202, 200, 200);
  border-radius: 0.5rem;
  min-width: 100%;
  border: transparent;
}

.login-cta button,
.continue-cta .continue-btn {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  border: transparent;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 75%;
}

.out {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.out span:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 810px) {
  .login-card,
  .login-cta {
    min-width: 80%;
  }
  .out {
    flex-direction: column;
  }

  .name {
    flex-direction: column;
  }

  .name * {
    width: 100%;
  }

  .pipe {
    display: none;
  }
}
