<section>
  <div class="users-header">
    <h2>Users</h2>
    <div class="select">
      <label for="filter">Filter By:</label>
      <select name="filter" id="filter">
        <option value="A-Z">A-Z</option>
        <option value="Z-A">Z-A</option>
        <option value="Score">Score</option>
        <option value="count">Number of Answers</option>
        <option value=""></option>
      </select>
    </div>
  </div>
  <div class="users" *ngIf="users$ | async as users">
    <div class="user" *ngFor="let user of users" (click)="seeUser(user.user_id)">
      <div class="profile">
        <img
          src="https://robohash.org/{{ user.username }}?set=set2"
          alt="{{ user.username }}"
        />
        <div class="user-details">
          <h3>{{ user.username }}</h3>
          <h4>{{ user.location }}</h4>
          <div class="stats">
            <h4>10 questions</h4>
            <h4>10 answers</h4>
            <h4>20% accepted</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="loading$ | async"></app-loader>
</section>
