.question {
  padding: 20px;
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid #e3e6e8;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.meta,
.tags {
  display: flex;
}

.meta {
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.tags {
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--powder);
  color: var(--blue-700);
  border: 1px solid var(--blue-300);
  padding: 0.8rem 1rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem;
}

.tag:hover {
  background-color: var(--blue-200);
  scale: 1.1;
  font-weight: 700;
}


@media (max-width: 768px) {
  .questions-container {
    padding: 10px;
  }

  .question {
    flex-direction: column;
  }

  .meta {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  h2 {
    font-size: 20px;
  }

  .questions-header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
