<div class="questions-container">
  <div class="questions-header">
    <h2>All Questions</h2>
    <div class="select">
      <label for="filter">Filter By:</label>
      <select name="filter" id="filter">
        <option value="Latest">Latest</option>
        <option value="A-Z">A-Z</option>
        <option value="Z-A">Z-A</option>
        <option value="Score">Score</option>
        <option value="Tags">Tags</option>
        <option value=""></option>
      </select>
    </div>
    <button routerLink="/questions/ask" class="primary-btn ask">
      Ask Question
    </button>
  </div>
  <div class="questions-list" *ngIf="questions$ | async as questions">
    <div
      class="question"
      *ngFor="let question of questions"
      (click)="seeQuestion(question.question_id)"
    >
      <div class="meta">
        <p>{{ question.answer_count }} answers</p>
        <p>{{ question.creation_date | relativeDate }}</p>
      </div>
      <div class="question-content">
        <h3>{{ question.question_title }}</h3>
        <p class="question-body" autoResize>{{ question.question_body }}</p>
        <div class="extras">
          <div class="tags">
            <div *ngFor="let tag of parseTags(question.question_tags)" (click)="seeTag(tag.tag_name, $event)">
              <p class="tag">{{ tag.tag_name }}</p>
            </div>
            <div class="user"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="loading$ | async"></app-loader>
</div>
